databases:
  - name: dbs_production
    plan: free
    databaseName: dbs_production
    user: postgres

services:
  - type: web
    plan: free
    name: sealquery
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "python -m gunicorn sealquery.asgi:application -k uvicorn.workers.UvicornWorker"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: dbs_production
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4