asgiref==3.7.2
Brotli==1.1.0
click==8.1.7
colorama==0.4.6
dj-database-url==2.1.0
Django==5.0.1
django-debug-toolbar==4.4.6
gunicorn==21.2.0
h11==0.14.0
numpy==2.1.1
packaging==23.2
pandas==2.2.3
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2024.1
uvicorn==0.27.0.post1
whitenoise==6.6.0