{% extends "digisig/base.html" %}

{% load static %}

{% block content %}

	<div class="search-banner"></div>
	<div class="sidepanel-left"></div>
	<div class="sidepanel-right"></div>

	<div class="main-title">
		<h1>Contributors</h1>
	</div>

	<div class="mainpage"> </div>

		<div class="entity_main">
<p>A project as large and complex as DIGISIG is only possible thanks to the efforts of a large number of people.</p>

<p>Students that have contributed to the development of the project</p> 

<p>Karson Million</p>
<p>Weronika Grajdura</p>
<p>Chrisopher Hopwood</p>
<p>Alienor De Smedt</p>
<p>Charlotte Jones</p>

</div>


{% endblock %}