{% extends "digisig/base.html" %}

{% load static %}
{% block content %}



	<div class="search-catalogue-banner"></div>
	<div class="sidepanel-left"></div>
	<div class="sidepanel-right"></div>

	<div class="main-title"><h1>{{pagetitle}}</h1></div>

	<div class="mainpage"></div>

	<div class="guidance-bar">
		<div class="div-caption">
			Guidance Notes<button id="guidancebutton1" onclick="tbtoggle('guidance', 'guidancebutton1')" class="entity">+</button>
		</div>
	</div>

	<div class="guidance" id="guidance" style="display:none;">
 	Under construction
 	</div>

	<div class="results-bar">
		<div class="div-caption">
			Results ({{totaldisplay}} of {{totalrows}})<button id="resultsbutton1" onclick="tbtoggle('results', 'resultsbutton1')" class="entity">-</button>
		</div>
	</div>


	<div class="results" id="results">
		<div class="searchfilter">		
			<div class="filter">
			<h2>Filter</h2>
			<form id="form" action="/search/sealdescriptions" method="post">
		    	{% csrf_token %}
				{{ form.non_field_errors }}
				<div style="display: none" class="fieldWrapper">
					{{ form.pagination.errors }}
					<label for="{{ form.pagination.id_for_label }}">pagination</label>
					{{ form.pagination}}
				</div>
				<div class="fieldWrapper">
					{{ form.collection.errors }}
					<label for="{{ form.collection.id_for_label }}">Reference Work <a class="help" href="{% url 'entity' digisig_entity_number=10001507 %}" target="_blank"><i class="fas fa-question-circle"></i></a></label>
					{{ form.collection }}
				</div>
				<div class="fieldWrapper">
					{{ form.cataloguecode.errors }}
					<label for="{{ form.cataloguecode.id_for_label }}">Entry Identifier <a class="help" href="{% url 'entity' digisig_entity_number=10001597 %}" target="_blank"><i class="fas fa-question-circle"></i></a></label>
					{{ form.cataloguecode }}
				</div>
				<div class="fieldWrapper">		
					{{ form.cataloguename.errors }}
					<label for="{{ form.cataloguename.id_for_label }}">Entry Title </label>
					{{ form.cataloguename}}
				</div>
				<div class="fieldWrapper">		
					{{ form.cataloguemotif.errors }}
					<label for="{{ form.cataloguemotif.id_for_label }}">Description </label>
					{{ form.cataloguemotif}}
				</div>
				<div class="fieldWrapper">
			    	<input class="submit" type="submit" value="Submit">
		    	</div>
		    	<div class="fieldWrapper">
		    		<button id="filterclear_button" onclick="myFunction()">Clear filter</button>
		    	</div>
			</form>
			</div>
		</div>

		<div class="searchresults">

		{% for sealdescription in sealdescription_object %}
		<div>
			<table>
<!-- Entry -->
				<tr>
					<th colspan="2"><h4><a class="headingbtn" href="{% url 'entity' digisig_entity_number=sealdescription.id_sealdescription %}">Seal Description details</a></h4></td>
				</tr>
				<tr>
					<th>Title</th>
					<td>{{sealdescription.sealdescription_title}}</td>
				</tr>
				<tr>
					<th>Reference</th>
					<td><a href="{% url 'entity' digisig_entity_number=sealdescription.fk_collection.id_collection %}">{{sealdescription.fk_collection.collection_shorttitle}}</a>, <a href="{% url 'entity' digisig_entity_number=sealdescription.id_sealdescription %}">{{sealdescription.sealdescription_identifier}}</a>
					{% if sealdescription.catalogue_pagenumber != null %}
					, p.{{sealdescription.catalogue_pagenumber}}
					{% endif %}
					</td>
				</tr>
<!-- motif and legend -->
			{% if sealdescription.motif_reverse != null%}
				{% if sealdescription.motif_obverse != null %}
				<tr>
					<th>Description</th>
					<td>{{sealdescription.motif_obverse|truncatechars:50}}</td>
				</tr>
				{% endif %}
				{% if sealdescription.legend_obverse != null %}
				<tr>
					<th>Legend</th>
					<td>{{sealdescription.legend_obverse|truncatechars:50}}</td>
				</tr>
				{% endif %}	
				{% if sealdescription.motif_reverse != null %}
				<tr>
					<th>Description (Reverse)</th>
					<td>{{sealdescription.motif_reverse|truncatechars:50}}</td>
				</tr>
				{% endif %}
				{% if sealdescription.legend_reverse != null %}
				<tr>
					<th>Legend (Reverse)</th>
					<td>{{sealdescription.legend_reverse|truncatechars:50}}</td>
				</tr>
				{% endif %}
			{% else %}
				{% if sealdescription.motif_obverse != null %}
				<tr>
					<th>Description</th>
					<td>{{sealdescription.motif_obverse|truncatechars:50}}</td>
				</tr>
				{% endif %}
				{% if sealdescription.legend_obverse != null %}
				<tr>
					<th>Legend</th>
					<td>{{sealdescription.legend_obverse|truncatechars:50}}</td>
				</tr>
				{% endif %}	
			{% endif %}
		
			{% if sealdescription.realizer != null %}
				<tr>
					<th>Name</th>
					<td>{{sealdescription.realizer}}</td>
				</tr>
			{% endif %}
				<tr>
					<th class="finalrow">Description of</th>
					<td><a href="{% url 'entity' digisig_entity_number=sealdescription.fk_seal.id_seal %}">Seal details</a></td>
				</tr>
			</table>
		</div>

		<div>
			{% if sealdescription.collection_thumbnail %}
			<figure>
				<img class="modalimage" id="modalimagebase{{forloop.counter}}" src="{% static 'sealquery/images/collections_cover/'%}{{sealdescription.collection_thumbnail}}" alt="catalogue cover photograph" onclick="image({{forloop.counter}})">
			</figure>

			<!-- The Modal -->
			<div id="myModal{{forloop.counter}}" class="modal" style="display: none;">
			  <span class="close" onclick="modalclose({{forloop.counter}})">&times;</span>
			  <img class="modal-content" id="modalimg{{forloop.counter}}" src="{% static 'sealquery/images/collections_cover/'%}{{sealdescription.collection_thumbnail}}" alt="catalogue cover photograph">
			  <div class="modal-caption" id="caption{{forloop.counter}}"><a href="{% url 'entity' digisig_entity_number=sealdescription.fk_collection %}">{{sealdescription.collection_fulltitle}}</a></div>
			</div>
			{% endif %}
		</div>
		{% endfor %}



		<div class= "pagination">
			{% if pagecountercurrent > 1 %}
			<button id="page_button_previous" onclick="page_button(-1)">Previous</button>
				{% endif %}
			<button id="page_button_1" onclick="page_button(1)">{{pagecountercurrent}}</button>
			<button id="page_button_2" onclick="page_button(2)">{{pagecounternext}}</button>
			<button id="page_button_2" onclick="page_button(3)">{{pagecounternextnext}}</button>
			<button id="page_button_next" onclick="page_button(1)">Next</button>
		</div>	
	</div>
</div>

<script>

	function page_button(numberofpages) {
		var pagevalue = document.getElementById("id_pagination").value;
		pagevalue = parseInt(pagevalue) + numberofpages;
		document.getElementById("id_pagination").value = pagevalue;
		document.getElementById("form").submit(); 
	}

	function myFunction() {
		document.getElementById("form").reset();
	}
</script>


{% endblock %}