<head>
  <style> body { margin: 0; } </style>

  <script src="//unpkg.com/3d-force-graph"></script>
  <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
  <div id="3d-graph"></div>

  {{ graphdata|json_script:"graphdata" }}

  <script>

  var graphdata2 = JSON.parse(document.getElementById('graphdata').textContent);

  console.log(graphdata2);

    const Graph = ForceGraph3D()
      (document.getElementById('3d-graph'))
        .graphData(graphdata2);


  </script>
</body>