{% extends "witness/base.html" %}

{% load static %}

{% block content %}


<!--leaflet -->   
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<!--Mapping --> 
<script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>

<!-- Include jQuery from a CDN (ensure this is placed before your custom script) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <div class="search-people-banner"></div>
  <div class="sidepanel-left"></div>
  <div class="sidepanel-right"></div>

  <div class="main-title"><h1>{{pagetitle}}</h1></div>

  <div class="mainpage" id="maingpage"></div>

  <div class="entity_detail" id="entity_detail">
    <div>
      <h3>Parish details <button onclick="toggle('entity-permalink')" class="permalink">Permalink</button></h3> 
      <table>
        <tr>
          <th>Parish Witness Graph</th>
          <td><a class="help" href="{% url 'parishnetwork_page' witness_entity_number=parish.id_location %}" target="_blank">Link</a></td>
        <tr>       
      <tr>
        <th>Place</th>
        <td>{{parish.location}}</td>
      </tr>
      <tr>
        <th>Coordinates </th>
        <td>{{parish.longitude}}, {{parish.latitude}}</td>
      </tr>
      </table>
    </div>
  </div>

  <div class="entity-permalink" id="entity-permalink">
    <div class="permalinkinfo" id="permalinkinfo">
      Permalink
      <button onclick="toggle('entity-permalink')" class="closebutton">X</button>
      <form action="#">
        <label>Copy this URL to link to this page:</label>
        <input id="input" class="text" name="" value="http://www.witness.org/entity/{{qlondonparish}}" type="text" readonly>
      </form>
    </div>
  </div>
  

  <div class="entity_chart_3" id="entity_chart_3">
    <div id="mapid1"></div>
  </div>

  {{ parishes_dict|json_script:"mapdata2" }}


  <div class="entity_relationship" id="entity_relationship">
    <div class="div-caption">
      People <button id="entitybutton2" onclick="tbtoggle('entity2', 'entitybutton2')" class="entity">+</button>
    </div>

    <div>
      <table id="entity2" style="display:none;">
        <thead>
        <tr> 
          <th>Name</th>
          <th>Active from</th>
          <th>Active to</th>
          <th>References</th>
          <th>References as witness</th>
        </tr>
      </thead>
      <tbody>
      </tbody>

<!--       {% for person in individual_list %}
        {% if forloop.counter|divisibleby:2 %}<tr class="even">{% else %}<tr class="odd">{% endif %}
          {% if person.id_individual == 10000019 %}
          <td> 
            {{person.actor_name}}
          </td>
          {% else %}
          <td> 
            <a href="{% url 'person_page' witness_entity_number=person.id_individual %}">{{person.actor_name}}</a>
          </td>
          {% endif %}
          <td>
            {{person.occurences}}
          </td>
          {% if person.id_individual == 10000019 %}
          <td> 
          </td>
          {% else %}
          <td>
            {{person.witnessref}}
          </td>
          {% endif %}
          {% if person.mindate > 1999 %}
          <td>Undetermined 
          </td>
          {% else %}
          <td>
            <i>c.</i> {{person.mindate}}
            {% if person.mindate < person.maxdate %}
             to {{person.maxdate}}
             {% endif %}
          </td>
          {% endif %}
      {% endfor %}
 -->      </table>
    </div>
  </div>


<script>
    $(document).ready(function() {
        var isDataLoaded = false; // Flag to check if the data has already been loaded

        // Attach click event to the button (assuming the button has the id "loadDataButton")
        $('#entitybutton2').on('click', function() {
            if (isDataLoaded) {
                return; // If the data has already been loaded, do nothing on further clicks
            }

            // Set flag to true after the first click
            isDataLoaded = true;

            // Send AJAX request to get data
            $.ajax({
                url: '{% url "parishpersonajax" witness_entity_number=parish.id_location %}',  // URL for the person_ajax view
                method: 'GET',
                success: function(response) {
                    const jsonData = response;
                    const data = JSON.parse(jsonData);

                    // Check if we have reference data
                    if (data.length > 0) {
                        var tableBody = $('#entity2 tbody');
                        tableBody.empty();  // Clear existing table rows
                        
                        // Loop through the references and add rows to the table
                        data.forEach(function(item, index) {
                            var rowClass = (index % 2 === 0) ? '' : 'class="even"';  // Alternate row colors

                            // Check if the id_individual is 10000019
                            var actorCell = (item.id_individual === 10000019) 
                                            ? item.actor_name  // No link, just the actor name
                                            : '<a href="' + item.id_individual + '">' + item.actor_name + '</a>';  // Regular link

                            var row = '<tr ' + rowClass + '>' +
                                      '<td>' + actorCell + '</td>' +  // Use actorCell with or without link
                                      '<td>' + item.mindate + '</td>' +
                                      '<td>' + item.maxdate + '</td>' +
                                      '<td>' + item.occurences + '</td>' +
                                      '<td>' + item.witnessref + '</td>' +
                                      '</tr>';

                            tableBody.append(row);                            
                        });
                    } else {
                        alert("No references found.");
                    }
                },
                error: function() {
                    alert("Error fetching data.");
                }
            });
        });
    });
</script>








<script>

  //map 2

  var geojsonFeature2 = JSON.parse(document.getElementById('mapdata2').textContent);
  var countieslen = Object.keys(geojsonFeature2).length;

  if (countieslen > 1) { 

  var map1 = L.map('mapid1', {scrollWheelZoom:false}).setView([51.515556,-0.093056], 14);
var layer2 = new L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}{r}.png', {
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
  subdomains: 'abcd',
  maxZoom: 20
});
  
  map1.addLayer(layer2);

  L.geoJSON(geojsonFeature2, {style: style}).addTo(map1);

  // control that shows state info on hover
  var info2 = L.control();

  info2.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

  info2.update = function (props) {
    this._div.innerHTML = '<h4>Cases per Parish</h4>' +  (props ?
      '<b>' + props.location + '</b><br />' + props.cases + ' cases' : 'Hover over a Parish');
  };

  info2.addTo(map1);

// get color depending on population density value
  function getColor(d) {
    return d > 1500 ? '#49006a' :
      d > 1000  ? '#7a0177' :
      d > 500  ? '#ae017e' :
      d > 250  ? '#dd3497' :
      d > 100  ? '#f768a1' :
      d > 50   ? '#fa9fb5' :
      d > 25   ? '#fcc5c0' :  
      d > 0   ? '#fde0dd' : 
      '#d9d9d9';
  }


  function style(feature) {
    return {
      weight: 2,
      opacity: 1,
      color: 'white',
      dashArray: '3',
      fillOpacity: 0.7,
      fillColor: getColor(feature.properties.cases)
    };
  }

  function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 5,
      color: '#666',
      dashArray: '',
      fillOpacity: 0.7
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
      layer.bringToFront();
    }

    info2.update(layer.feature.properties);
  }

  var geojson2;

  function resetHighlight(e) {
    geojson2.resetStyle(e.target);
    info2.update();
  }

  function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
  }

  function onEachFeature(feature, layer) {
    layer.on({
      mouseover: highlightFeature,
      mouseout: resetHighlight,
      click: zoomToFeature
    });
  }

  /* global statesData */
  geojson2 = L.geoJson(geojsonFeature2, {
    style: style,
    onEachFeature: onEachFeature
  }).addTo(map1);

  map1.attributionControl.addAttribution('');

  var legend2 = L.control({position: 'bottomright'});

 
  legend2.onAdd = function (map) {
      var div = L.DomUtil.create('div', 'info legend');
      var grades = [0, 1, 25, 50, 100, 250, 500, 1000, 1500];
      var labels = [];
      var from, to;


      for (var i = 0; i < grades.length; i++) {
          from = grades[i];
          to = grades[i + 1];

          if (i === 0) {
              // First grade, show only the value "0"
              labels.push(
                  '<i style="background:' + getColor(from) + '"></i> ' +
                  from);
          } else if (i === 1) {
              // Second grade, show only the value "1"
              labels.push(
                  '<i style="background:' + getColor(from) + '"></i> ' +
                  from);
          } else if (i === grades.length - 1) {
            console.log("hello");
              // Last grade, show only the value (e.g., "30")
              labels.push(
                  '<i style="background:' + getColor(from + 1) + '"></i> ' +
                  from + '+');
              console.log(getColor(from +1));
          } else {
              // For other grades, use the range format
              labels.push(
                  '<i style="background:' + getColor(from + 1) + '"></i> ' +
                  from + '&ndash;' + (to - 1)); // Adjust the upper bound to make the range inclusive
          }
      }

      div.innerHTML = labels.join('<br>');
      return div;
  };

  legend2.addTo(map1);
}


</script>


{% endblock %}
