{% extends "witness/base.html" %}

{% load static %}
{% block content %}


	<div class="search-people-banner"></div>
	<div class="sidepanel-left"></div>
	<div class="sidepanel-right"></div>

	<div class="main-title">
		<h1>Search Parish</h1>
	</div>

<div class="mainpage"></div>

	<div class="guidance-bar">
		<div class="div-caption">
			Guidance Notes<button id="guidancebutton1" onclick="tbtoggle('guidance', 'guidancebutton1')" class="entity">+</button>
		</div>
	</div>

	<div class="guidance" id="guidance" style="display:none;">
		Under construction
	</div>

	<div class="results-bar">
		<div class="div-caption">
			Results ({{totaldisplay}} of {{totalrows}})<button id="resultsbutton1" onclick="tbtoggle('results', 'resultsbutton1')" class="entity">-</button>
		</div>
	</div>

	<div class="results" id="results">
		<div class="searchfilter">		
			<div class="filter">
			<h2>Filter</h2>
			<form id="form" action="/search/parish" method="post">
		    	{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="fieldWrapper">		
					{{ form.londonparish.errors }}
					<label for="{{ form.londonparish.id_for_label }}">londonparish <i class="fas fa-question-circle"></i></a></label>
					{{ form.londonparish }}
				</div>		
				<div class="fieldWrapper">
			    	<input class="submit" type="submit" value="Submit">
		    	</div>
		    	<div class="fieldWrapper">
		    		<button id="filterclear_button" onclick="myFunction()">Clear filter</button>
		    	</div>
			</form>
			</div>
		</div>
	
	</div>
	</div>

<script>


// clear all user inputs from the select boxes in the form 
	function myFunction() {
		document.getElementById("id_pagination").value = 1; 
		document.getElementById("id_name").value = '';
		document.getElementById("id_group").value = '0'; 
		document.getElementById("id_personclass").value = '';
		document.getElementById("id_personorder").value = '';
	   	document.getElementById('id_personclass').style="opacity:0.6";
	   	document.getElementById('id_personorder').style="opacity:0.6";
		document.getElementById("id_personclass").disabled = true;	    	
		document.getElementById("id_personorder").disabled = true;
	}
</script>

{% endblock %}